body {
    /* padding: 0 100px 0 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.hero {
    background-color:#1F2937;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:300px;
    padding-bottom: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap:10px;
    flex: 0 1 500px;
    /* width: 5000px; */
}

.image-one {
    width: 300px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom:0;
}

p {
    margin: 0;
}

#hero-text, a {
    font-size: 18px;
    color: #E5E7EB;
}

button.signup-first {
    border-radius: 4px;
    padding: 4px 15px;
    background-color: #3882F6;
    color: white;
    border:none;
    font-weight: bolder;
    height:30px;
    width: 100px;
}

.container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 80px;
}

.container-one img {
    border-radius: 16px;
}

.container-quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 80px; */   
}

#quote {
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
}

#quote-author{
    align-self: flex-end;
    font-size: 24px;
    /* font-style: ; */
    font-weight: bold;
}
